@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background: #fafaf9;
}
.card {
  display: grid;
  width: 410px;
  height: 360px;
  font-family: "Sora", sans-serif;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  background: #ffffff;
}

.texts {
  display: grid;
  gap: 0.3rem;
  padding: 1rem;
  padding-top: 10px;
}

.texts h3 {
  font-size: 18px;
}

.texts span {
  font-size: 12px;
  color: #6c727f;
}

img {
  width: 380px;
  height: auto;
}

button {
  width: 70px;
  border-radius: 30px;
  border: 10px;
  padding: 5px;
  background: #e6d6fc;
  color: #883ae1;
  font-weight: bold;
  font-size: 12px;
}

.imgDiv {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
  padding-bottom: 0;
  border-radius: 12px;
}

.imgDiv img {
  border-radius: 12px;
}

.footer {
  padding: 0.13rem;
  padding-top: 1rem;
  font-size: 10px;
  color: #6c727f;
}
