* {
  margin: 0;
  padding: 0;
}

body {
  /* display: flex;
  justify-content: center; */
}
.card {
  display: grid;
  width: 50px;
  /* padding: 100px; */
}

.texts {
  padding: 1rem;
}

img {
  width: 350px;
  height: auto;
}

button {
  width: 70px;
  border-radius: 30px;
  border: 10px;
}

.imgDiv {
  padding: 1rem;
  border-radius: 12px;
}

.imgDiv img {
  border-radius: 12px;
}
